.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.img-circle {
  border-radius: 50%;
}

.well {
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

div{
  width: 100%;
}